.About{
    min-height: 200vh;
    background-color: var(--clr1);

}

.About h1,.About p{
    color: var(--clr1);
}

.About h1{
    font-size: 3em;
    margin-bottom: 15px;
}



.aboutContent{
    position: relative;
}

.cardA{
    top: 25em;
    position: absolute;
    background-color: var(--clr2);
    padding: 4em 8em;
    max-width: 45vw;
}