.About {
    background-color: var(--clr1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 60em;
}

.About h1, .About p {
    color: var(--clr1);
}

.About h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

.aboutContent {
    margin-top: 5em;
    grid-column: 1/7;
}

.cardA {
    background-color: var(--clr2);
    padding: 4em 8em;
}

.timeContent{

    grid-column: 9/13;
}

.timeContainer{
    position: absolute;
    right: 20%;

}



.boxContainer {
    position: relative;
    top: 19em;
    margin-right: 1em;
    padding: 10px;
    background-color: var(--clr2);
}

.aboutText {
    padding: 2em;
    margin-left: 25%;
    font-size: 1em;
}

.aboutText p {
    color: var(--clr1);
}

.cardsContent{
    margin-top: 10%;
    grid-column: 1/7;
    text-align: center;
}

.cardsContent h1{
    color: var(--clr3);
}
