.cardsContainer{
    background-color: var(--clr1);
    padding: 2em 2em;
}

.allCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    font-family: NHG;
}

.card{
    background-color:var(--clr2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: 1.4em;
}

.direito{
    text-align: center;
    color: var(--clr1);
    font-size: 1.2em;
    margin-bottom: .6em;

}

.direitoText{
    font-size: .9em;
    color: var(--clr1);
}