.cardsContainer{
    background-color: var(--clr1);
    padding: 6em 18em;
}

.allCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    font-family: NHG;
}

.card{
    background-color:var(--clr2);
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: 1.4em;
}

.direito{
    color: var(--clr1);
    font-size: 1.2em;
}

.direitoText{
    font-size: .9em;
}