
.swiper{
    max-width: 32em;
    padding-bottom: 2.4em;
}

.slide{
    margin-top: 15em;
}

.slideContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPhoto{
    width: 18em;
    height: 27em;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    background-color: var(--clr3) !important;
}

.userName{
    margin: .5em 0 .2em 0;
    font-size: 1.2em;
}

