
@font-face {
  font-family: BAS;
  src: url(./fonts/BaskervilleMTStd-Regular.otf)
}

@font-face {
  font-family: NHG;
  src: url(./fonts/NHaasGroteskTXPro-55Rg.ttf)
}


:root {
  --clr1: #FCF8E8;
  --clr2: #94B49F;
  --clr3: #DF7861;
  --clr4: #76549A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  height: 100vh;
} */

h1, p {
  color: var(--clr1);
}

h1{
  font-family: BAS;
}

p{
  font-family: NHG;
}

a{
  text-decoration: none;
}