
@font-face {
  font-family: BAS;
  src: url(./fonts/BaskervilleMTStd-Regular.otf)
}

@font-face {
  font-family: NHG;
  src: url(./fonts/NHaasGroteskTXPro-55Rg.ttf)
}


:root {
  --clr1: #FCF8E8;
  --clr2: #94B49F;
  --clr3: #DF7861;
  --clr4: #76549A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1, p {
  color: var(--clr1);
}

h1{
  font-family: BAS;
  font-size: 3.5em;
  font-weight: 100;
  line-height: 1;
}

p{
  font-family: NHG;
  font-size: 1.2em;
  letter-spacing: .8px;
  line-height: 1.4;
}

a{
  text-decoration: none;
}